pre {
  border: 1px solid #ccc;
  padding: 5px;
  margin:0;
  margin-right: 10px;
  background-color: white;
}

body {
  padding: 2em;
  overflow: scroll;
}

h1 {
  margin: 0;
}


.row {
  position: relative;
  overflow: hidden;
  background-color: #eee;
  padding: 10px;
}

.row .left {
  position: relative;
  float: left;
  width: 50%;
}

.row .right {
  position: relative;
  float: right;
  width: 50%;
  background-color: white;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.padding {
  padding: 5px;
}

.icon-container {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  width: 200px;
}

.gray {
  color: #aaa;
}

.icon {
  font-size: 20px;
  padding-right: 13px;
}
